.col-xs-6 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(210, 27%, 96%);
}

.container pt-3 h2 {
}
.col-xs-6,
.col-md-8 {
  margin-top: 10%;
}
.navbar,
navbar-light,
bg-light {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.btn,
btn-primary {
  background-color: #0000b3;
}
