.container {
  width: 100vw;
  height: 100vh;
}
.col-xs-6 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
}

.col-xs-6,
.col-md-8 {
  margin-top: 10%;
}
.navbar,
navbar-light,
bg-light {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.btn,
btn-primary {
  background-color: #0000b3;
}
.image-background {
  background-repeat: repeat-y;
}
.navbar,
navbar-light,
bg-white {
}
.col-xs-6 {
  margin-top: 5%;
  margin-left: 0%;
}
.navbar,
navbar-light,
bg-white {
  margin-left: 5%;
  margin-right: 5%;
}
