.container {
  width: 100vw;
  height: 100vh;
}
.col-xs-6 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
}

.col-xs-6,
.col-md-8 {
  margin-top: 10%;
}
.navbar,
navbar-light,
bg-light {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.btn,
btn-primary {
  background-color: #0000b3;
}
.image-background {
  background-repeat: repeat-y;
}
.navbar,
navbar-light,
bg-white {
}
.col-xs-6 {
  margin-top: 5%;
  margin-left: 0%;
}
.navbar,
navbar-light,
bg-white {
  margin-left: 5%;
  margin-right: 5%;
}
#AllTable {
  position: relative;
  left: 5%;
  width: 90%;
  border-style: solid;
  border-color: white;
  padding-bottom: 0%;
  margin-bottom: 10%;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  margin-top: -20%;
  height: 700px;
  line-height: 160%;
  font-size: 150%;
  font-family: "Space Mono", monospace;
  padding: 2%;
  margin-right: 2%;
}
#h1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
}
#AllTable p {
  color: rgb(45, 48, 55);
  text-align: center;
  margin-bottom: 10%;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#table-1 {
  background-color: rgb(74, 80, 187);
  margin-right: 10%;
  width: 30%;
  height: 10%;
  padding-left: 1%;
  font-size: 60%;
}
#table-2 {
  width: 30%;
  height: 10%;
  background-color: rgb(74, 80, 187);
  margin-right: 10%;
  padding-left: 1%;
  font-size: 70%;
}
#table-3 {
  width: 30%;
  height: 10%;
  background-color: rgb(74, 80, 187);
  padding-left: 1%;
  font-size: 70%;
}
#flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px;
  padding: 0%;
}
#flex h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#flex p {
  color: white;
}
#Pa {
  position: absolute;
  margin-left: 82%;
  width: 13%;
  margin-top: 2%;
}
#Pa:hover {
  padding: 0.5%;
  background-color: rgb(181, 195, 199);
  width: 13%;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: rgb(74, 80, 187);
  padding: 50px 100px;
}
.AllContacts {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}
.Map {
  position: relative;
  outline: none;
  touch-action: none;
  background: #ddd;
  cursor: grab;
  margin: 0;
  padding: 2%;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}
div {
  display: block;
}
.Fullname {
  color: white;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 20px 0px 5px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.input1 {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}
#footer {
  color: blue;
  text-align: center;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
  max-width: none;
  margin-top: 10%;
}
#para {
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: lighter;
  word-break: break-word;
  margin: 0px;
  max-width: none;
  color: (45, 48, 55);
  margin-bottom: 100px;
}
.images {
  position: relative;
  bottom: 100px;
  text-align: center;
}
div p {
  margin-left: 2%;
  font-family: "Space Mono", monospace;
}
div a {
  margin-left: 2%;
  font-family: "Work Sans", sans-serif;
  color: #0000b3;
}
div button {
}
footer {
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 2%;
}
.ContactsHeader {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: none;
}
.p-0 {
  color: white;
  text-align: left;
  max-width: 500px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px 0px 20px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: rgb(74, 80, 187);
  padding: 50px 100px;
  width: 100%;
  padding: 20px;
  padding-left: 10%;
}
.form1 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
  margin-left: 2%;
}
input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.sectionC {
  margin: 2%;
}
.section1 {
}
.parragraph {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.section1div3 {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: 450px;
  width: 100%;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 100%;
  margin: 0px;
  padding: 0px;
}
.section2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
form {
  display: block;
  margin-top: 0em;
}
.sectiondiv4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selector1:first-child {
  margin-bottom: 20px;
}
.selector1 {
  display: flex;
  flex-direction: row;
}
.selector2 {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 20px;
}
.input2 {
  cursor: pointer;
  margin-right: 10px;
}
.title3 {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.selector2 {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 20px;
}
input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.title3 {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.hbLeqW {
  display: flex;
  margin: 20px 0px;
}
.case2,
.case1 {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: rgb(28, 34, 148);
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: white;
  font-family: "Work Sans", sans-serif;
}
.title3 {
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.bRRdCt {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(28, 34, 148);
  margin: 20px 0px;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  color: rgb(28, 34, 148);
  background-color: transparent;
  outline: none;
}
button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;

  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.jRGqRc {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
.lkBBf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}
.AllSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.pMEBZ:not(:last-child) {
  border-right: none;
}
.pMEBZ {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(28, 34, 148);
  font-family: "Work Sans", sans-serif;
}
.section1 {
  background-color: rgb(248, 249, 252);
  padding: 10%;
}
.section1div1 {
  margin-right: 10%;
}
li:hover {
  background-color: rgb(28, 34, 148);
  color: white;
}
.case1 {
  background-color: rgb(28, 34, 148);
  color: white;
}
.parragraph1 {
  line-height: 200%;
  font-size: larger;
}
#titre1 {
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: none;
  padding-top: 10%;
  font-weight: bolder;
}
.hBBiYg {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 50px 0px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
.kGZkqQ {
  display: flex;
  background-color: rgb(248, 249, 252);
  padding: 100px;
  flex-direction: column;
}
.iGHrFs {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
.lhUNIW > .sc-1l4vszo-1:nth-child(1) {
  margin-bottom: 50px;
}
.ldorUd {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}
.lhUNIW > .sc-1l4vszo-1:nth-child(2) {
  margin-bottom: 50px;
}
.fVPVuI {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  white-space: pre-wrap;
  word-break: break-word;
  font-weight: 300;
}
.jnILdR {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);

  max-width: none;
}
.lhUNIW {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.kGZkqQ p {
  text-align: left;
}
.hBBiYg {
  padding-left: 2%;
  margin-left: 7%;
}
#naver1 {
  position: absolute;
  width: 80%;
  right: 0%;
  margin-left: 100%;
  margin-right: 0%;
  padding-left: 30%;
}
#naver1 a {
  margin-left: 7%;
  color: rgb(127, 127, 127);
  text-transform: uppercase;
}
#Full-name {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  padding: 10px 5px;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  width: 50%;
}
#naver1 > a:hover {
  text-decoration: underline;
  width: 10%;
}
#f {
  margin-left: 10%;
  padding-right: 5%;
}
